<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<body>
  <app-navbar></app-navbar>
  <div class="container ">
    <div class="row">
      <div class="col-4">
        <img src="../assets/photo.jpg" alt="phtoto" />
      </div>
      <div class="col-8">
        <h3>Daenerys Targaryen</h3>
        <hr />
        <h4>Character</h4>
        Daenerys Targaryen is the daughter of King Aerys II Targaryen (also
        referred to as "The Mad King") and his sister-wife Queen Rhaella, and is
        one of the last survivors of House Targaryen. She serves as the
        third-person point-of-view character of 31 chapters of A Game of
        Thrones, A Clash of Kings, A Storm of Swords, and A Dance with Dragons.
        This makes her the series' fourth most prominent narrative voice after
        Tyrion Lannister, Jon Snow and Arya Stark.
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/Ydi80YrCnPY"
        ></iframe>
      </div>
      <div class="col-6">
        <h4>Personality</h4>
        Daenerys is most often described as uncommonly beautiful, with long,
        pale silver-gold hair and purple eyes. She is slender and pale, although
        taller than some of her female ancestors. Tales of Daenerys's beauty are
        numerous, and throughout the novels she encounters countless suitors who
        seek her hand in marriage, sometimes to gain control of her three
        dragons. She is fluent in the Common Tongue of Westeros, Dothraki, High
        Valyrian and bastard Valyrian, which she speaks with a Tyroshi accent.
        Over the course of the first three novels she becomes fluent in the
        Dothraki language and Ghiscari, spoken in the slave cities in Essos.
      </div>
    </div>
    <hr />
    <mat-label >Comment</mat-label>
    <mat-form-field appearance="outline" style="width: 100%" class="custom-mat-form-field">
      <mat-label>What do you feel about this?</mat-label>
      <textarea matInput rows="3"></textarea>
    </mat-form-field>
    <div style="text-align: right">
      <div style="margin-left: -20px; margin-top: -10px">
        <mat-icon class="mat-18">favorite</mat-icon>
        <mat-icon class="mat-18">favorite</mat-icon>
        <mat-icon class="mat-18">favorite</mat-icon>
        <mat-icon class="mat-18">favorite</mat-icon>
        <mat-icon class="mat-18">favorite</mat-icon>
      </div>
      <div style="margin-top: -10px">
        <button mat-stroked-button style="border-color: white; color: white">
          Send
        </button>
      </div>
    </div>
  </div>
</body>
